body {
    background-color: #8CAF9A;
}

.header {
    display: flex;
    font-family: 'Rakkas', cursive;
    justify-content: space-around;
    margin: 20px;

}

.movie-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 5px;
}

.review-container{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Rakkas', cursive;
    height: 90%;
    width: 70%;
    background-color: #376047;   
}

#username-input{
    display: flex;
    
    background-color: #63836F;
    border-radius: 30px;
    width: 30%;
}

#review{
    height: 95%;
    width: 95%;
    word-wrap: normal;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #C4C4C4;
    margin: 10px;
    padding: 5px;
    width: 95%;
    height: 250px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 30px;
    word-wrap: normal;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 30px;
}

#submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: #634B41;
    font-family: 'Rakkas', cursive;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 150%;
    
}   

#submit-btn:focus{
    outline: none !important;
    border-color: #000000;
    box-shadow: 0 0 10px #000000;
}

#rating-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.rating {
    display: flexbox;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}