body {
    background-color: #8CAF9A;
}

.header {
    display: flex;
    font-family: 'Rakkas', cursive;
    justify-content: space-around;
    margin: 20px;
}

#sidenav {
    display: flex;
    order: 0;
    justify-content: start;
    margin-top: 50px;
}

#flexTitleDescription{
    display: flex;
    flex-grow: 2;
    justify-content: center;
}

#headerImg{
    order: 2;
}


#headerTitle {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #00000040;
    order: 3;
    justify-content: space-between;
}

#searchBar{
    flex: 1;
    margin-top: 55px;
    margin-right: 55px;
    justify-content: end;
    background-color: #6C756D;
    height: 38px;
    width: 175px;
    order: 4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#headerDescription {
    display: flex;
    justify-content: center;
    color: #544848;
    font-family: 'Rakkas', cursive;
}
